<%- include partials/header %>
<%- include partials/navbar %>

<h1>Yolo <small>fomo</small></h1>
<br>
<h1>Email: <%=user.email%></h1>
<h1>ID: <%=user.id%></h1>
<h1>Password: <%=user.password%></h1>
<h1>Join Date: <%=user.join_date%></h1>

<% if(edit) { %>
  <br>
  <h3>Edit Profile</h3>
  <form action="<%= user.id %>" method="POST" >
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%=user.name%>">
    <br>
    <label for="current_city">Current City: </label>
    <input type="text" name="current_city" value="<%=user.current_city%>">
    <br>
    <button type="submit" name="save-submit">Save Changes</button>
  </form>
<% } else { %>
  <h1>Name: <%=user.name%></h1>
  <h1>Current City: <%=user.current_city%></h1>
  <form action="edit/<%= user.id %>" method="GET" >
    <button type="submit" name="edit-submit">Edit Profile</button>
  </form>
<% } %>

<% include partials/footer %>
