<%- include partials/header %>
<%- include partials/navbar %>

<h1>WOW, you have a neat profile, <%=user.name%>!</h1>
<br>
<h2>Email: <%=user.email%></h2>
<h2>ID: <%=user.id%></h2>
<h2>Password: <%=user.password%></h2>
<h2>Join Date: <%=user.join_date%></h2>

<% if(edit) { %>
  <br>
  <h3>Edit Profile</h3>
  <form action="<%= user.id %>" method="POST" >
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%=user.name%>">
    <br>
    <label for="current_city">Current City: </label>
    <input type="text" name="current_city" value="<%=user.current_city%>">
    <br>
    <button type="submit" name="save-submit">Save Changes</button>
  </form>
<% } else { %>
  <h2>Name: <%=user.name%></h2>
  <h2>Current City: <%=user.current_city%></h2>
  <form action="edit/<%= user.id %>" method="GET" >
    <button type="submit" name="edit-submit">Edit Profile</button>
  </form>
<% } %>

<div>
  <% posts.forEach((post) => { %>
    <a href="/post/<%= post.id %>"><h1><%=post.city%></h1></a>
    <span><%=post.title%></span>
    <span><%=post.description%></span>
    <br></br>
  <% }) %>
</div>

<% include partials/footer %>
